.mat-card {
    -webkit-user-select: none;
    cursor: pointer;

    .mat-card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;

        h1 {
            font-weight: 600;
            margin-top: 0;
        }

        h1, h2, h3 {
            text-align: left;
        }

        h2 {
            color: #757575;
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-container {
    position: relative;
    margin-right: 1.33rem;
}

.icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    width: 48px;
    height: 48px;
    opacity: 0.2;
    z-index: 1;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
    opacity: 1;

    z-index: 2;
}
